<div class="login-form">
<%= form_tag sessions_path do %>
  <p>
    <%= text_field_tag :email, params[:email], placeholder: "email" %>
  </p>

  <p>
    <%= password_field_tag :password, nil, placeholder: "password" %>
  </p>
    <%= button_tag "login" %>
<% end %>
</div>
