<html>
  <head>
  </head>
  <body>

  <div id="artist-section">
    <form id="searchbar" action="https://itunes.apple.com/search">
      <input type="text" name="term" id="searchterm">
      <button type="submit">Search</button>
    </form>

    <div id="artist-list">
      <ul>
      </ul>
    </div>
  </div>

  <div id="game-section" style="display:none">
    <div id="stats" style="display:none">
      Stats
      <div id="score">
      </div>
    </div>
    <div id="start-game">
      <button id="start">Start!</button>
    </div>
  </div>


  <h2> Autocomplete "GEM" Search for an Artist</h2>
  <%= form_for @artist do |f| %>
    <%= f.autocomplete_field :name, autocomplete_artist_name_artists_path, class: 'test' %>
  <% end %>



  <br>
  <h2> Autocomplete jQuery Search For an Artist </h2>
  <div id="artist-search">
    <form action="https://itunes.apple.com/search">
      <input type="text" name="term" id="artistsearchterm">
      <button type="submit">Search</button>
    </form>

    <div id="artist-list">
      <ul>
      </ul>
    </div>
  </div>

  <div id="game-section" style="display:none">
    <div id="stats" style="display:none">
      Stats
      <div id="score">
      </div>
    </div>
    <div id="start-game">
      <button id="start">Start!</button>
    </div>
  </div>


  </body>

  <script>
  // var names = ['Shiraj', 'Peter', 'Victor', 'Daniel']
  $('#artistsearchterm').autocomplete({
    // minLength: 3,
    delay: 500,
    source: 
      // calling autocomplete creates a request object containing the terms you input into the selector.
      // not sure what the response argument is
      function(request, response) {
        
        // console.log("Here is the source response: ")
        // console.log(response);

        var artistSearchTerms = $('#artistsearchterm').val();
        $.ajax({
            url: "https://itunes.apple.com/search?entity=musicArtist&limit=5&term=" + artistSearchTerms,
            dataType: "jsonp",
            data: {term: request.term},
            success: function( data ) {
              // response( data.results );
              // console.log( data.results );
              response($.map( data.results, function( item ) {
                return {
                    label: item.artistName,
                    value: item.artistId,
                    // id: item.artistId 
                }
              }));
            },
            failure: function( data ) {
              console.log ('Ajax fail');
              response ( data );
            }
        });
      },
      select: function (event, ui) {
        // console.log(ui.item.value);
        $.ajax({
          url: "http://localhost:3000",
          data: {artistName: ui.item.value},
          datatype: 'jsonp',
        }).done(function(response){
          console.log('Success! It worked!');
          console.log("'" + ui.item.value +"'" + "was sent!");
        }).fail(function(failResponse){
          console.log("Ajax failed. Here was the response from the server: " + failResponse);
        })
      }
  });
  </script>

</html>
