<html>
  <head>
  </head>
  <body>

  <div id="artist-section">
    <form id="searchbar" action="https://itunes.apple.com/search">
      <input type="text" placeholder="Enter an artist!" name="term" id="searchterm">
      <button id="search-button" type="submit">Search</button>
    </form>

    <div id="artist-list">
      <ul>
      </ul>
    </div>
  </div>

  <div id="game-section" style="display:none">
    <div id="stats" style="display:none">
      Stats
      <div id="score">
      </div>
    </div>
    <div id="start-game">
      <button id="start">play</button>
    </div>
  </div>


  </body>
</html>
