<html>
  <head>
  </head>
  <body>

    <h2> Test Your Might at TRACK MASTER TEST!!!</h2>
    <div id="artist-search">
      <form action="https://itunes.apple.com/search">
        <input type="text" name="term" id="artistsearchterm">
      </form>
    </div>

    <div id="game-section" style="display:none">
      
      <div id="stats" style="display:none">
        Stats
        <div id="score">
        </div>
      </div>

      <div id="start-game">
        <button id="start">Start!</button>
      </div>
    
    </div>

  </body>
</html>
