<div id="artist-section">
<!--
  <%# if !session[:user_id] %>
    <h2>Enter An Artist Name To Start A Practice Quiz</h2>
  <%# else %>
    <h2>Enter An Artist Name To Start A Competitve Quiz</h2>
  <%# end %>
 -->
  <div id="artist-search">
      <input type="text"  autofocus placeholder="Enter an artist!" name="term" id="artistsearchterm">
    <div id="artist-list">
      <ul>
      </ul>
    </div>
  </div>
</div>

<%= render "/gamesection" %>

<div class="practice-quizzes">
  <h3>Or Take These Popular Quizzes</h3>

<a href="#" id="playartist" data-itunesId="136975"><img src="beatles.jpg"alt=""></a>
<a href="#" id="playartist" data-itunesId="5499810"><img src="notorious.jpg"></a>
<a href="#" id="playartist" data-itunesId="487143"><img src="pink_floyd.jpg"></a>
<a href="#" id="playartist" data-itunesId="32940"><img src="michael_jackson.jpg"></a>
<a href="#" id="playartist" data-itunesId="1855044"><img src="weird_al.jpg"></a>
<a href="#" id="playartist" data-itunesId="5468295"><img src="daft_punk.jpg"></a>
<a href="#" id="playartist" data-itunesId="20044"><img src="madonna.jpg"></a>
<a href="#" id="playartist" data-itunesId="219627"><img src="pavarotti.jpg"></a>

</div>


