<div id="artist-section">
<!--
  <%# if !session[:user_id] %>
    <h2>Enter An Artist Name To Start A Practice Quiz</h2>
  <%# else %>
    <h2>Enter An Artist Name To Start A Competitve Quiz</h2>
  <%# end %>
 -->
  <div id="artist-search">
      <input type="text"  autofocus placeholder="Enter an artist!" name="term" id="artistsearchterm">
    <div id="artist-list">
      <ul>
      </ul>
    </div>
  </div>
</div>

<div id="game-section" style="display:none">
  <div id="play-start-message">
  </div>
  <div id="choices-screen">
    <p>Choose the correct song name in 30 seconds!</p>
  </div>

  <div id="start-game">

    <button id="start">
      <span class="fa-stack fa-lg play-icon">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-play fa-stack-1x"></i>
      </span>
    </button>

    <button id="loading">
      <span class="fa-stack fa-lg load-icon">
        <i class="fa fa-refresh fa-spin"></i>
      </span>
    </button>

  </div>
</div>




<div id="timer">
</div>

<div class="practice-quizzes">
  <h3>Or Take These Popular Quizzes</h3>

<a href="#" id="playartistagain" data-itunesId="136975"><img src="http://1.bp.blogspot.com/--QvOPsG5VEo/TcLshUE3DaI/AAAAAAAADIU/Mti4Vd_7pVE/s1600/rare%252520beatles%252520t%252520shirt%252520goes%252520on%252520sale%252520on%252520ebay_2591_800521235_0_0_7014392_300.jpg" alt=""></a>
<a href="#" id="playartistagain" data-itunesId="5499810"><img src="http://theversed.com/files/2012/03/Notorious-BIG.jpg"></a>
<a href="#" id="playartistagain" data-itunesId="487143"><img src="http://images.contactmusic.com/images/feature-images/pinkfloyd-darksideofthemoon.jpg"></a>
<a href="#" id="playartistagain" data-itunesId="32940"><img src="http://cdn.sonicomusica.com/artists/m/michael-jackson/michael-jackson-5.jpg"></a>
<a href="#" id="playartistagain" data-itunesId="1855044"><img src="http://entertainmentaroundtheworld.files.wordpress.com/2012/02/weird-al-yankovic-300x300.jpg"></a>
<a href="#" id="playartistagain" data-itunesId="5468295"><img src="http://www.thetribeonline.com/wp-content/uploads/2011/04/Daft-Punk1.jpg"></a>
<a href="#" id="playartistagain" data-itunesId="20044"><img src="http://fashionjunqui.files.wordpress.com/2012/04/madonna-80s1.jpg?w=490"></a>
<a href="#" id="playartistagain" data-itunesId="219627"><img src="http://www.lyricsmusica.it/img/canzoni/l/luciano-pavarotti-rondine-al-nido-62016987.jpg"></a>

</div>


