Search For An Artist Leaderboard
<%= form_for @artist do |f| %>
  <%= f.autocomplete_field :name, autocomplete_artist_name_artists_path, class: 'test' %>
<% end %>

<br>
<br>

<center>

<% @artists.each do |artist| %>
  <a href="/artists/<%= artist.id %>"><%= artist.name %></a>
  <br>
<% end %>
</center>
