Scores for <%=@user.username%>:
<ul>
  <% @artist_taken.each do |artist_id, count| %>
  	<% artist = Artist.find(artist_id) %>
    <li><%= artist.name %> - Score: <%= @user.artist_score(artist).round %> - # Taken: - <%= count %></li>
  <% end%>
</ul>
