/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin:0;
  padding:0;
 }
html{
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Press Start 2P', cursive;
  background-color: #000;
}
html::after {
  content: "";
  background: url("/tiling_bg.png");
  background-repeat: repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -30;
}
.container{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}
input[type=text], input[type=password]{
    box-sizing: border-box;
    outline: 0;
    font-family: 'Press Start 2P', sans-serif;
    background-color: #eee;
    padding-left: 10px;
    font-size: 1.3em;
    border-radius: 5px;
    color: #111;
    height: 50px;
    width: 500px;
    margin: auto;
    display: block;
}
#artist-search input[type=text]{
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
    background-color: #fff;
    font-size: 1em;
    border-radius: 3px;
    outline: 0;
    border: 0;
    color: #111;
    height: 50px;
    width: 500px;
    margin: auto;
    display: block;
    padding: 0 20px;
    text-transform: uppercase;
}
#artist-search{
  margin-bottom: 80px;
}

.display-board{
  text-align: center;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  background-color: #555;
  border: 10px dashed #999;
}
.info-area{
  text-align: center;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  background-color: #555;
  margin-bottom: 10px;
  border: 10px dashed #999;
}
.info-area h3{
  font-weight: 600;
}
.info-area li{
  list-style: none;
}
.info-area a{
  text-decoration: none;
  color: #fa0;
  text-shadow: 1px 1px 2px black;
  list-style: none;
}
.info-area a:hover{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
  list-style: none;
}
.artist-profile h2{
  font-size: 1.3em;
}
.userprofile h2{
  display: inline-block;
  margin-right: 5px;
}
.userprofile{
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}
.taken-count{
  text-align: center;
}
.table-row{
  text-align: left;
}
.artist-search a{
  font-size: 1.3em;
}
.artist-list{
  margin-top: 25px;
}
.artist-search{
  margin-top: -38px;
  padding: 0;
}
.signup-form, .login-form, .useredit{
  text-align: center;
  padding: 15px;
}
.useredit a{
  position: relative;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  line-height: 40px;
  color: white;
  font-size: 1.3em;
  width: 40%;
  height: 40px;
  padding: 0;
  background-color: rgb(150,15,15);
  top: -2px;
  max-width: 200px;
}
.signup-form button, .login-form button{
  font-size: 1.3em;
  width: 40%;
  height: 40px;
  padding: 0;
}
.useredit button{
  font-size: 1.3em;
  width: 40%;
  height: 40px;
  padding: 0;
  display: inline-block;
  max-width: 200px;
}
.signup-form input, .login-form input{
  margin-bottom: 4px;
  border-radius: 5px;
}
.useredit h1{
  color: white;
  text-shadow: 1px 1px 3px black;
}
.highlight:hover{
  background-color: #fff;
  color: #000;
}
.highlight:hover a{
  color: #000;
}
.left-align{
  text-align: center;
  padding: 10px 0;
}
/*.score{
  text-align: right;
}*/
.marquee{
  color: #Fa0;
  font-size: 1.9em;
}
.table-headings{
  font-weight: bold;
  /*background-color: #fa0;*/
  font-size: 1em;
  text-align: center;
  color: #f90;
}
#artist_name input{
  border: 5px dashed black;
}
@media (max-width: 750px) {
  .errors{
    display: block;
    position: fixed;
    top:30%;
  }
  .container {
    width: 100%;
    height: 100%;
    margin: 100px 0;
  }
  .navbar h1{
    float: none;
    text-align: center;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .navbar ul{
    float: none;
    margin-right: 0;
    text-align: center;
    font-size: 3em;
  }
  .navbar ul li{
    width: 25%;
  }
  #ui-id-1{
    box-sizing: border-box;
    position: fixed;
    top: 212px;
    left:0;
    background-color: #eee;
    font-size: 1em;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 5px;
  }
  #ui-id-1 li{
    height: 45px;
    overflow: hidden;
  }
  input[type=text], input[type=password]{
    border: none;
    border-radius: 0px;
  }
  .artist-list{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 25px;
  }
  .userprofile{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 25px;
  }
  .artist-profile{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 25px;
  }
  .artist_name{
    width:100%;
  }
  .nav-caption{
    display: none;
  }
  .navbar i{
    display: inherit;
  }
  .signup-form input, .login-form input, .useredit input{
    margin-bottom: 4px;
    border-radius: 5px;
    width: 100%;
  }

}

.info-area {
  border: 0;
  background: rgba(0,0,0,0.7);
  margin-top: 40px;
  border-radius: 3px;
  padding: 20px;
  color: #fff;
}

.info-area h2 {
  color: #f90;
  margin-bottom: 40px;
}

#artist_name {
  border: 0;
  background: #fff;
  border-radius: 3px;
  padding: 0 20px;
  text-transform: uppercase;
  outline: 0;
  font-size: 1em;
}

.highlight:hover {
  cursor: pointer;
}

.artist-list {
  margin-top: 0;
}

.left-align a {
  text-shadow: 0;
  color: #fff;
}

.highlight, .table-row a {
  color: #fff;
  font-size: 1em;
}

tr.table-headings {
  height: 60px;
  font-size: 16px;
  text-transform: uppercase;
}

td {
  text-align: center;
}

.highlight td {
  font-size: 16px;
}

.marquee {
  display: block;
  float: left;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.small-link {
  display: block;
  float: right;
  font-size: 0.6em;
}
