/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  margin:0;
  padding:0;
 }
 html{
  font-family: 'Fira Sans', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
  background-color: #333;
 }
.navbar {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  background-color: #fa0;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px 4px rgba(0,0,0,0.3);
}
button{
  padding: 0 10px;
  background-color: rgb(150,15,15);
  border: 2px solid rgb(150,15,15);
  color: white;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  height:70px;
  margin: 0 auto;
  margin-top:10px;
  width: 100%;
}
button:hover{
  background-color: #A00;
  /*border: 2px solid #fa0;*/
  border: 2px solid #A00;
}
.answer-button{
  opacity: 0.8;
  color: #DDD;
}
.answer-button:hover{
  opacity: 1;
  color: #FFF;
}
.logo{
  padding-top: 5px;
  padding-left: 8px;
  position: fixed;
  left: 0;
}
#search-button{
  height: 30px;
  line-height: 30px;
}
#start{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2em;
  position:fixed;
  bottom: 25%;
  left:0;
  background-color: #fa0;
  width: 100%;
  border-radius: 0;
  height: 70px;
  border: 0;
  box-shadow: 0 0 6px 1px rgba(0,0,0,0.5);
}
.navbar ul{
  float: right;
  margin-right: 4px;
}
.navbar li a{
  font-size: 1.3em;
  text-decoration: none;
  color: #fa0;
  background-color: #C50;
  border-radius: 5px;
  padding: 2px 15px;
  margin: 0 0px;
}
.navbar li a:hover{
  color: white;
  background-color: #ee7722;
}
.container{
  width: 70%;
  margin: 0 auto;
  margin-top:150px;
}
.navbar li {
  display: inline-block;
}

input[type=text]
{
    font-family: 'Fira Sans', sans-serif;
    background-color: #eee;
    padding-left: 10px;
    font-size: 1.1em;
    border:solid 2px #303;
    border-radius: 5px;
    color: #979797;
    height: 35px;
    width: 100%;
    margin: auto;
    display: block;
}

