button{
  padding: 0 10px;
  background-color: rgb(150,15,15);
  border: 2px solid rgb(150,15,15);
  color: white;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  height:70px;
  margin: 0 auto;
  margin-top:10px;
  width: 100%;
}
button:hover{
  background-color: #A00;
  border: 2px solid #A00;
}
.answer-button{
  opacity: 0.8;
  color: #DDD;
}
.answer-button:hover{
  opacity: 1;
  color: #FFF;
}
#search-button{
  height: 30px;
  line-height: 30px;
}
#start{
  text-align: center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  color: black;
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 400;
  font-size: 3.5em;
/*  position:fixed;
  bottom: 25%;*/
  left:0;
  background-color: #ff9900;
  opacity: 0.95;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
  /*margin-top: 0;*/
}
#start:hover {
  cursor: pointer;
}

.fa-play:before {
  content: "\f04b";
  position: relative;
  right: -5px;
}
.fa-stack:hover {
  color: white;
}
