.navbar {
  padding-top: 30px;
  width: 100%;
  height: 50px;
  color: #f90;
  margin-bottom: 80px;
}
.navbar h1{
  float: left;
  font-size: 1em;
  margin-left: 30px;
}

h1 a {
  color: #f90;
  text-decoration: none;
}

.navbar i{
  display: none;
}
.navbar ul{
  float: right;
  margin-right: 30px;
}
.navbar li {
  display: inline-block;
}
.navbar li a{
  font-size: .7em;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: #f90;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 0;
}
.navbar li a:hover{
  color: white;
}
