#artist-section h2 {
  text-align: center;
  text-shadow: 2px 2px 3px black;
  color:white;
  line-height: 1.5em;
  margin-bottom: 25px;
}
.practice-quizzes{
  text-align: center;
  font-size: 0;
  width: 800px;
  margin: 0 auto;
}
.practice-quizzes a img{
  width: 200px;
}
.practice-quizzes h3 {
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  color:white;
  margin-top: -30px;
  padding-bottom: 40px;
}


@media (max-width: 1200px) {
  .practice-quizzes{
    width:500px;
    margin: 0 auto;
  }
  .practice-quizzes h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .practice-quizzes a {
    margin: 0 auto;
    line-height: 0;
  }
  .gamequestions{
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .answer-button{
    width:100%;
    max-height: 75px;
    margin: 0 0 10px 0;
    display: block;
  }
  #timer{
    max-width:400px;
  }
  #choices-screen{
    margin-top: -25px;
  }
}

@media (max-width: 500px) {
  .practice-quizzes{
    width:350px;
    margin: 0 auto;
  }
  .practice-quizzes h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .practice-quizzes a {
    line-height: 0;
    margin: 0 auto;
  }
}

