#artist-section h2 {
  text-align: center;
  text-shadow: 2px 2px 3px black;
  color:white;
  line-height: 1.5em;
  margin-bottom: 25px;
}
.practice-quizzes{
  text-align: center;
  font-size: 0;
  width: 800px;
  margin: 0 auto;
}
.practice-quizzes a img{
  width: 200px;
}
.practice-quizzes h3 {
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  color:white;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .practice-quizzes{
    width:300px;
    margin: 0 auto;
  }
  .practice-quizzes h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .practice-quizzes a {
    float: left;
    line-height: 0;
}

}

