<div id="game-section" style="display:none">
  <div id="choices-screen">
    <p>Choose the correct song name in 30 seconds!</p>
  </div>

  <div id="start-game">

  <div id="play-start-message">
  </div>
    <button id="start">
      <span class="fa-stack fa-lg play-icon">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-play fa-stack-1x"></i>
      </span>
    </button>

    <button id="loading">
      <span class="fa-stack fa-lg load-icon">
        <i class="fa fa-refresh fa-spin"></i>
      </span>
    </button>

  </div>
</div>

<div id="timer-container">
  <span id="timer"></span>
</div>