<div id="game-section" >

  <% if @artist %>
    <center>
      <h2><%= @artist.name %> Quiz<h2>
    </center>
  <% end %>

  <div id="stats">
    Stats
    <div id="score">
    </div>
  </div>
  <div id="start-game">
    <button id="start">play</button>
  </div>
</div>
