<div class="navbar">
	<ul>
  	<% if session[:user_id] %>
      <li>Hi, <%= User.find(session[:user_id]).username %></a></li>
  		<li><a href="/users/<%=session[:user_id]%>/edit">Edit Info</a></li>
      <li><a href="/users/<%=session[:user_id]%>">View Scores</a></li>
      <li><a href="/logout">exit</a></li>
  	<% else %>
      <li><a href="/login">login</a></li>
	  	<li><a href="/signup">signup</a></li>
  	<% end %>
  	<li><a href="/artists">leaderboards</a></li>
  </ul>
</div>
