<div class="navbar">
	<ul><i class="fa fa-bars-lg"></i>
  	<% if session[:user_id] %>
      <li><a href="/"><i class="fa fa-home"></i><span class="nav-caption">home</span></a></li>
      <li><a href="/users/<%=session[:user_id]%>"><i class="fa fa-user"></i><span class="nav-caption">profile</span></a></li>
      <li><a href="/artists"><i class="fa fa-bar-chart"></i><span class="nav-caption">hi-scores</span></a></li>
      <li><a href="/logout"><i class="fa fa-sign-out"></i><span class="nav-caption">exit</span></a></li>
    <% else %>
      <li><a href="/"><i class="fa fa-home"></i><span class="nav-caption">home</span></a></li>
      <li><a href="/artists"><i class="fa fa-bar-chart"></i><span class="nav-caption">hi-scores</span></a></li>

      <li><a href="/login">login</a></li>

      <li><a href="/signup">signup</a></li>
    <% end %>

  </ul>

</div>
